<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Scalonator Interviewers</title>
</head>
<body>
  <section>
    <a href="/interview">Criar tipo de entrevista</a>
    <a href="/speciality">Criar especialidade</a>
    <a href="/schedule">Gerar agenda :)</a>
  </section>

  <section>
    <form action="/speciality/create" method="POST">
        Tipo: <input type="text" name="type">
        <% interviews.map ( i => { %>
          <%= i.type %><input type="checkbox" name="interviews" value="<%= i._id %>">
        <% }); %>
        <input type="submit" value="Cadastrar">
    </form>
  </section>

  <section>
    Todas Especialidades
    <% if(specialities) { %>
      <% specialities.map ( s => { %>
        <p><%= s.type %> - [
          <% s.interviews.map ( i => { %>
            <%= i.type %>,
          <% }) %>]
        </p> 
        <a href="/speciality/delete/<%= s.id %>">Deletar</a>
      <% }); %>
    <% } %>
  </section>
</body>
</html>